@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --rosa-escuro: #E8A2A2; 
    --rosa-claro: #F7DFDF;
    --texto-escuro: #212529;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.background1 {
    background-color: var(--rosa-escuro);
}

.background2 {
    background-color: var(--rosa-claro);
}

.text-background {
    color: var(--texto-escuro);
    font-weight: 500;
}

.icon1 svg {
    color: var(--texto-escuro);
}

.icon1 svg:hover {
    transition: linear 0.2s;
    color: var(--rosa-claro);
}

.icon-table {
    color: var(--rosa-escuro);
}

.icon-table:hover {
    transition: linear 0.2s;
    color: var(--rosa-claro);
}

.select-menu {
    padding: 8px 15px !important;
    border-radius: 5px;
}

.select-menu:hover {
    transition: linear 0.2s;
    background-color: var(--rosa-claro);
}

.title-page {
    background-color: var(--rosa-claro);
}

.button-padrao {
    font-weight: 500;
}

.button-padrao:hover {
    transition: linear 0.1s;
    background-color: var(--rosa-claro);
}

.border-table {
    border: 2px solid var(--rosa-claro);
}

.athena-alert {
    background-color: var(--rosa-claro);
    color: var(--texto-escuro);
}

footer {
    background-color: var(--rosa-escuro);
    text-align: center;
    padding: 20px 5px;
    margin-top: 50px;
}

main {
    flex: 1;
}

/* Estilização adicional para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
}