<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal Exclusao</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/style.css">   
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <!-- Modal Container -->
    <div class="bg-white rounded-lg overflow-hidden shadow-xl w-full max-w-md">
      <!-- Modal Header -->
      <div class="background1 px-4 py-3 flex justify-between items-center">
        <h2 class="text-lg font-semibold">Exclusão de Cliente</h2>
        <!-- Close Button -->
        <button class="icon1" onclick="closeModal()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline">
            <path fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <!-- Modal Content -->
      <div class="p-6">
        <p class="text-gray-800">Tem certeza que deseja excluir este cliente?</p>
      </div>
      <!-- Modal Footer -->
      <div class="px-6 py-3 flex justify-center space-x-4">
        <button class="background1 button-padrao px-4 py-2 rounded" onclick="closeModal()">Sair</button>
        <button class="background1 button-padrao px-4 py-2 rounded">Excluir</button>
      </div>
    </div>
  </div>

  <script>
    //diferente do outro modal pq esse tem 2 botoes pra fechar o modal
    function closeModal() {
      document.querySelector('.fixed').style.display = 'none';
    }
  </script>

</body>

</html>